<form action="/tasks" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="description"> Description: </label>
  <input type="text" name="task[description]" id="description">

  <label for="due_date"> Due date: </label>
  <input type="date" name="task[due_date]" id="due_date">

  <input type="submit">
</form>
